<div class="home__container">
  <app-cards
   gameCover="/assets/The-Last-of-Us-Remastered.png"
   gameLabel="DIGITAL" 
   gameType="DIGITAL | PS4"
   gamePrice="R$ 199,99"
  ></app-cards>
  <app-cards
   gameCover="/assets/The_Last_of_Us_2.png"
   gameLabel="DIGITAL"
   gameType="DIGITAL | PS5"
   gamePrice="R$ 269,99"
  ></app-cards>
  <app-cards
   gameCover="/assets/God_of_War_Ragnarök_capa.png"
   gameLabel="EXCLUSIVA"
   gameType="DISC | PS5"
   gamePrice="R$ 350,00"
  ></app-cards>
  <app-cards
   gameCover="/assets/Resident_Evil_4.jpg"
   gameLabel="EXCLUSIVA"
   gameType="DISC | PS5"
   gamePrice="R$ 350,00"
  ></app-cards>
  <app-cards
   gameCover="/assets/Spider-Man_2.jpg"
   gameLabel="EXCLUSIVA"
   gameType="DISC | PS5"
   gamePrice="R$ 350,00"
  ></app-cards>
  
</div>
